/*WAYBAR AERO*/
@define-color unfocused rgba(255,255,255, 0.3);
@define-color twhite rgba(119,119,119, 0.3);
@define-color tblack rgba(0,0,0, 0.3);
*{
font-family:Noto San JP,Symbols Nerd Font Mono;
font-size:100%;
min-height:0px;
min-width:0px;
transition:none;
}
window.medidores#waybar *{
border:none;
background:transparent;
}
.modules-left,.modules-center,.modules-right,window.medidores#waybar .modules-center{
border-radius:20px;
border:1px solid @twhite;
background: linear-gradient(180deg,@twhite 0%, @tblack 30%);
box-shadow: 0px 0px 1px 1px @tblack;
}
window#waybar{
background:  none;
}
#cpu,#memory,#disk,#bluetooth,#backlight,#battery,#tray,#network,#pulseaudio,#clock,#custom-notification,#custom-menu{
color:white;
border-radius:50%;
padding:6px;
margin:0px 3px;
min-width:18px;
}
#custom-menu,tooltip{
background: linear-gradient(180deg,@twhite 0%, @tblack 40%);
margin:0px;
box-shadow: 0px 0px 1px 1px @twhite;
border-radius:20px;
min-width:20px;
min-height:20px;
}
#custom-music,#custom-previous,#custom-next,#custom-playing{
margin:0px 8px;
font-weight:bold;
font-size:10px;
color:white;
}
#workspaces button{
color:@unfocused;
border:1px solid transparent;
background:none;
transition: all 0.5s linear;
min-width:30px;
min-height:20px;
}
#workspaces button.active{
color:white;
text-shadow:-1px -1px 5px @twhite,    1px 1px 5px @twhite;
border-radius:20px;
transition: all 0.2s linear;
background: linear-gradient(180deg,@twhite 0%, transparent 50%);
border:0.5px solid @twhite;
box-shadow: 0px 0px 1px 1px @tblack;
}
#workspaces button.urgent {
color:yellow;
}
#workspaces button:hover{
color:white;
}
#cpu,#memory,#disk,#backlight,#bluetooth,#battery{
min-width:50px;
}
#custom-menu{
font-size:17px;
background: linear-gradient(180deg,@twhite 0%, transparent 50%);
}
#custom-menu:hover{
font-weight:bolder;
text-shadow:-1px -1px 5px @twhite,    1px 1px 5px @twhite;
}
