/*SIMPLESWAY*/
@define-color text-unfocused rgba(255,255,255,0.5);
@define-color text white;
@define-color border rgba(255,255,255,0.4);
@define-color background rgba(0,0,0, 0.3);

*{
font-family:Symbols Nerd Font Mono,Noto San JP;
font-size:15px;
color:@text;
border-radius:0px;
}
image{
border-radius:15px;
margin:0px 10px 0px 0px;
background:@background;
border:@border 1px solid;
}
.notification,.control-center{
color:@text;
border-top:1px solid @border;
border-left:1px solid @border;
border-bottom:1px solid @border;
border-radius:20px 0 0 20px;
background:@background;
margin:5px 0 5px 0;
}
.notification{
margin-right:-15px;
}
.app-icon, .right{
opacity:0%;
}